
 .left img {
    width: 550px;
    border-radius: 10px;
} 

.Post h2{
    color: rgba(0, 128, 0, 0.655);
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
 .Post {
  display:flex ;
    width: 90%;
    gap: 2rem;
    
    margin: 2rem;

 }
 .right p{
    font-size: 1.2rem;
    max-width: 650px;
    line-height: 1.6;
    color: rgba(0, 0, 0, 0.599);   
    text-align: justify; 
    margin: 1.8rem;
   
 } 