.Article{
    text-align: center;
    background-color: rgba(137, 43, 226, 0.792);
    height: 450px;
    width: 100%;
    color: white;
  

}
 .Article h1{
    padding-top: 50px;
  
    
 }
 .Article p{
    text-align: center;
    padding: 15px;
    line-height: 1.6;
    font-size: 20px; 
 } 
 .Article button {
    color: rgba(0, 0, 255, 0.597);
 }
 