.Footer{ 
    display: flex;
    justify-content: center;
    padding-top: 20px;
    background-color: rgba(0, 0, 255, 0.6);
}

.Footer div {
    padding: 2rem;
}

  .Footer h1{
    padding-bottom: 10px;
    color: white;
    font-size: 1.7rem;

 }
 .Footer h2{
   padding-bottom: 10px;
    color: white;
    font-size: 1.2rem;
    padding-left: 1.8rem;

 }

 .Footer p{
    line-height: 1.4;
    color: rgba(255, 255, 255, 0.879);
 } 
 .Footer button{
    height: 40px;
    width: 160px;
    border-radius: 25px;
    background-color: rgba(0, 0, 255, 0.937);
    color: white;
    padding: 10px;
 } 

  .list li{
    list-style: none;
    color:rgba(255, 255, 255, 0.874);
  
 } 
 .footer-title{
    text-align: center;
    height: 40px;
     background-color: rgba(0, 0, 255, 0.605);
       color: rgba(0, 0, 0, 0.693);
     
 }