.Header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  background-color:rgba(248,249,250) ;
  padding:15px ;
  height: 8vh;  
  position:fixed;
  top: 0;
  width: 100%;
  
}
.Header img {
  height: 6rem;
  width: 7rem; 
 margin-left:5rem;
}

.nav-links{
  display:flex;
  font-size: 1rem;
  margin:0 24px 0 0;
  font-family:sans-serif ; 
}
.nav-links li {
  cursor:pointer;
  list-style: none;
}

 .nav-links a{
  color:rgba(0, 0, 0, 0.726);
  text-decoration: none;
} 
.nav-links .active{
  color: rgba(0, 0, 255, 0.668);
  font-weight: bold;
}