.LowerBannerProduct{
    text-align: center;
    background-color: rgba(137, 43, 226, 0.603);
    height: 250px;
    width: 100%;
    color: white;
  

}
 .LowerBannerProduct h1{
   font-size: 2rem;
    padding-top: 3.5rem; 
    color :white;
    max-width: 600px;
    margin: auto;
 }
 .LowerBannerProduct p{
    text-align: center;
   padding-top: 1rem; 
    font-size: 1.2rem;
    max-width: 800px; 
    margin: auto;
    text-align: center;
 } 
 .LowerBannerProduct button {
    color: rgba(0, 0, 255, 0.597);
    border-radius: 10px;
width:150px;
height:50px;
border-radius: 30px;
border: none;
margin-top: 1rem;
font-size: 1.1rem;
 }