.Post1{
    display: flex;
    justify-content: center;
   margin: 1.8rem;
   padding: 1.8rem;
   width: 90%;  
}

.description h3{
    font-size: 30px;
    line-height: 2;
}


.description p {
    max-width: 550px;
    line-height: 1.6;
    color: rgba(0, 0, 0, 0.599);   
    text-align: justify; 
}

.blue{
    color:aqua;
}



