.ProductIntro{
    text-align: center;
    margin-top: 20px;
  
    
}
.ProductIntro h1{
    color:  rgba(137, 43, 226, 0.792);
    font-size: 50px;
  
}
.ProductIntro p{
    padding-top: 20px;
    line-height: 1.9;
    color: rgba(0, 0, 0, 0.658);
}
 .ProductIntro button {
  color: rgba(0, 0, 0, 0.526);
  border-radius: 20px;
  margin-bottom: 20px;
}
