.intro{
    text-align: center;
    margin-top: 25px;
}
 .heading{
    font-size: 30px;
    color: rgba(0, 0, 255, 0.723);
    padding:10px;

 }
  .para{
    color: rgba(0, 0, 0, 0.425);
    padding-bottom: 30px;
  }