
.ServiceContainer {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 45px;
 height: auto; 
 margin-bottom: 2rem;

}

.ServiceCard {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  background: #f9f9f9;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  height: 600px;

}

/* Left section */
.ServiceCard > div:first-child {
  flex: 1;
}

.ServiceCard .image {
  width: 100%;
  max-width: 700px;
  height: 360px;
  border-radius: 10px;
  object-fit: cover;
  margin-top: 5rem;
  margin-bottom: 10px;
}

/* Right section */
.ServiceCard .text {
  flex: 2;
}

.ServiceCard h1 {
  font-size: 1.6rem;
  text-align: center;
  color: rgba(0, 0, 255, 0.745)
}

.ServiceCard p {
  font-size: 16px;
  max-width: 700px;
  color: #555555dc;
  line-height: 1.6;
  padding: 10px;
  margin: 5px;
  text-align: justify;
  margin-left: 2.7rem;
}